section{
    display: inline-block;
    width: 275px;
    margin: 0px 4px;
}
img{
    width: 100%;
}
.project,.about{
    margin-right: 10px;
}
.br{
   margin-right: 820px;
   margin-left: 20px;
}
main{
    margin: 0px 50px;
}
header{
    margin-top: 20px;
    margin-bottom: 50px;
}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}
h2{
    font-size: 24px;
    font-weight: 450;
}
p{
    font-size: 15px;
    font-weight: 500;
    
}
h5{
    font-size: 15;
   color:rgb(141, 146, 150)
}
h2,h5,p{
    margin: 20px 0px;
    text-align: justify;
    
}
.p1:hover{
     background-color: whitesmoke;
}
.p1{
    height: 20px;
    padding: 15px;
    text-align: center;
    background-color: rgb(217, 228, 237);
}
.br,.project,.about,.contanct{
    background-color: white;
    padding: 10px;
}
.br:hover{
    background-color: whitesmoke;
}
.project:hover{
    background-color: whitesmoke;
}
.about:hover{
    background-color: whitesmoke;
}
.contanct:hover{
    background-color: whitesmoke;
}